<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

    <script src="/static/app.js"></script>
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="cad_nome_restaurante" placeholder="Insira o nome do Restaurante">
        <input type="email" id="cad_email_restaurante" placeholder="Insira seu email">
        <input type="text" id="cad_senha_restaurante" placeholder="Insira sua senha de 6 dígitos">

        <br><input type="button" value="Cadastrar" onclick="cadastrar()">
    </form><h3 id="cad_sucesso"></h3>
    <hr>
    <form>
        <input type="email" id="log_email_restaurante" placeholder="Insira seu email">
        <input type="text" id="log_senha_restaurante" placeholder="Insira sua senha">
        <br><input type="button" value="Logar" onclick="logar()">
    </form>

    <script src="/static/cad_log.js"></script>
</body>
</html>